.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid hsla(49, 100%, 50%, 0.24);
    background-color: #fff;
    
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 hsla(49, 100%, 50%, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    
}
#question{
    font-size: 3rem;
}
.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color:#ffcf00;
    color: #fff;
}
.choice-text{
    padding: 1.5rem;
    width: 100%;
}
.correct{
    background-color: #28a745;
}
.incorrect{
    background-color: #dc3545;
}
/* HUD */
#hud{
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}
#progressBar{
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #ffcf00;
    border-radius: 20px;
    margin-top: 1.5rem;
}
#progressBarFull{
    height: 3.4rem;
    background-color: #ffcf00;
    width: 0%;
    border-radius: 20px;
}
#loader{
    border: 1.6rem solid #fff;
    border-radius: 50%;
    border-top: 1.6rem solid rgb(233, 179, 32);
    width: 12rem;
    height: 12rem;
    animation: spin 1s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}